.ethop { 
  margin-left: 11px;
  font-size: 97px;
  padding-left: 67px;
  border-right-width: 81px;
  padding-bottom: 36px;
  border-left-width: 44px;
  border-right-width: 77px;
  margin-top: 87px;
  margin-top: 0px;
  margin-top: 96px;
}
